# 开发环境配置
springdoc:
  paths-to-match: /api/**
  swagger-ui:
    operations-sorter: alpha
spring:
  web:
    verify:
      mail-limit: 60
    flow:
      period: 3
      limit: 50
      block: 30
    cors:
      origin: '*'
      credentials: false
      methods: '*'
  mail:
    host: smtp.163.com
    username: ranbanshan@163.com
    password: GWMdEwAnjqFjLVqy
  rabbitmq:
    addresses: localhost:5672
    username: guest
    password: guest
  security:
    filter:
      order: -100
    jwt:
      key: abcdefghijk
      expire: 72
      limit:
        base: 10
        upgrade: 300
        frequency: 30
  datasource:
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver


